body {
  background-image:url(https://media.starwars.ea.com/content/starwars-ea-com/cs_CZ/starwars/battlefront/news-articles/star-wars-battlefront-movies-of-the-week/_jcr_content/featuredImage/renditions/rendition1.img.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}